{{#with frame_setting}}
{{#with index_head.data}}
<div class="setting-tab-item" data-setting-title="头部设置" data-frame="index_head" data-type="1">
    <div class="setting-body-top">
        <ul>
            <li><label><input id="showHead_checkbox" data-tag="index_head.showHead" type="checkbox" {{#if showHead}}checked{{/if}}/>&nbsp;该页面显示头部<span class="auxiliary-text">（以下设置对手机首页生效）</span></label></li>
        </ul>
    </div>
    <div class="setting-body-in">
        <div class="form-horizontal">
            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">背景色</label>
                        <div class="controls">
                            <div class="colorSelect"  data-name="index_head.bgcolor" data-value="{{bgcolor}}" data-tag="index_head.bgcolor"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">搜索框</label>
                        <div class="controls">
                            <input id="showSearch_checkbox" type="checkbox" data-tag="index_head.showSearch" {{#if showSearch}}checked{{/if}}/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-vertical">
            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">左侧Logo
                            <span class="auxiliary-text">建议上传图片尺寸不超过200x90像素的透明底色png图片</span>
                        </label>

                        <div class="controls control-row-auto">
                            <div class="img-upload-row">
                                <div style="float: left;" class="imageSelect" data-name="index_head.logo" data-tag="index_head.logo" data-value="{{logo}}"></div>

                                <div class="row-info">
                                    <div class="row">
                                        <span class="t">链接至</span>
                                        <div class="linkSelect" data-name="index_head.logoLink" data-tag="index_head.logoLink" data-value='{{{json logoLink}}}'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">右侧图标
                            <span class="auxiliary-text">建议上传图片尺寸不超过58x58像素的透明底色png图片</span>
                        </label>

                        <div class="controls control-row-auto">
                            <div class="colorSelect" data-name="index_head.icoColor" data-value="{{icoColor}}" data-tag="index_head.icoColor"></div>
                            <div class="settingTable" data-max-count="2" data-name="index_head.icoList" data-tag="index_head.icoList" data-value='{{{json icoList}}}'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}
{{#with menu.data}}
<div class="setting-tab-item" data-setting-title="导航设置" data-frame="menu" data-type="1">
    <div class="setting-body-top">
        <ul>
            <li><label><input id="showInShop_checkbox" type="checkbox"  data-tag="menu.showInShop" {{#if showInShop}}checked{{/if}}/>&nbsp;总店商城显示</label></li>
        </ul>
    </div>
    <div class="setting-body-in">
        <div class="form-vertical">
            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">编辑导航
                            <span class="auxiliary-text">每个菜单5个字以内</span>
                        </label>

                        <div class="controls control-row-auto">
                            <div class="colorSelect" data-name="menu.icoColor" data-value="{{icoColor}}" data-tag="menu.icoColor"></div>
                            <div class="settingTable" data-placeholder="请输入导航名称" data-max-count="5" data-name="menu.list" data-tag="menu.list" data-value='{{{json list}}}'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="setting-tab-item" data-setting-title="导航设置" data-frame="menu" data-type="2">
    <div class="setting-body-top">
        <ul>
            <li><label><input id="showInShop_checkbox" type="checkbox"  data-tag="menu.showInShop" {{#if showInShop}}checked{{/if}}/>&nbsp;总店商城显示</label></li>
        </ul>
    </div>
    <div class="setting-body-in">
        <div class="form-horizontal">
            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">菜单图标</label>

                        <div class="controls control-row-auto">
                            <div class="imageSelect"  data-name="menu.menuIcon" data-tag="menu.menuIcon" data-value="{{menuIcon}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-vertical">
            <div class="row-fluid">
                <div class="span24">
                    <div class="control-group">
                        <label class="control-label">编辑导航</label>

                        <div class="controls control-row-auto">
                            <div>背景颜色：
                                <div class="colorSelect" data-name="menu.bgcolor" data-value="{{bgcolor}}" data-tag="menu.bgcolor"></div>
                            </div><br>

                            <div>图标颜色：
                                <div class="colorSelect" data-name="menu.icoColor" data-value="{{icoColor}}"
                                     data-tag="menu.icoColor"></div>
                            </div>
                            <div class="settingTable" data-placeholder="请输入导航名称" data-max-count="4" data-name="menu.list"  data-tag="menu.list" data-value='{{{json list}}}'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}
{{/with}}