<div class="J_Module" data-module-name="auxiliary-announcement">
    <div class="module md-auxiliary-announcement type-{{#if type}}{{type}}{{else}}0{{/if}}" data-direction="{{direction}}">
        <div class="m-box" style="{{#if modBGColor}}background-color: {{modBGColor}};{{/if}} {{#if modBorderColor}}border-color:{{modBorderColor}}{{/if}};font-size: {{font.fontSize}};">
            <div class="m-icon"{{#if icoColor}} style="color:{{icoColor}}"{{/if}}></div>
            <div class="m-text">
                <span style="font-weight: {{font.fontWeight}}; color:{{font.color}};">{{content}}</span>
            </div>
        </div>
    </div>
</div>