<div class="J_Module" data-module-name="product-col3">
    <div class="module md-product-col3"{{#if modBGColor}} style="background-color: {{modBGColor}};"{{/if}}>
        <div class="mod-list{{#if slide}} mod-slider{{/if}}">
            {{#if slide}}<div class="slide-data" style="display: none;">{{/if}}
                {{#each list}}
                    <div class="itemgroup">
                        {{#each this}}
                            <div class="item">
                                <a href="{{#if link}}/m{{link}}{{else}}javascript:void(0){{/if}}">
                                    <div class="pic">
                                        <img class="lazyload" src="/static/mobile/images/blank.gif" data-src="{{img}}" />
                                    </div>
                                    <div class="info">
                                        {{!--<div class="goodsname">{{name}}</div>--}}
                                        <div class="price-real"><span class="txt-rmb">¥</span><em>{{priceReal}}</em></div>
                                    </div>
                                </a>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
            {{#if slide}}</div>{{/if}}
        </div>
    </div>
</div>