<div class="J_Module" data-module-name="auxiliary-text">
    <div class="module md-auxiliary-text"{{#if modBGColor}} style="background-color: {{modBGColor}};"{{/if}}>
        <a href="{{#if link.url}}{{link.url}}{{else}}javascript:void(0){{/if}}" style="font-size: {{font.fontSize}}; font-weight: {{font.fontWeight}}; color:{{font.color}};">{{content}}</a>
    </div>
</div>