<div class="J_Module" data-module-name="auxiliary-title">
    <div class="module md-auxiliary-title type-{{type}}" style="background-color: {{color}}; border-color: {{color}};">
        <a href="{{#if link.url}}{{link.url}}{{else}}javascript:void(0){{/if}}">
            <span class="txt">{{title}}</span>
        </a>
    </div>
</div>