<div class="J_Module" data-module-name="product-col1">
    <div class="module md-product-col1"{{#if modBGColor}} style="background-color: {{modBGColor}};"{{/if}}>
        <div class="mod-list mod-row-type-{{type}}">
            <ul>
                {{#each list}}
                    {{#each this}}
                    <li>
                        <a href="{{#if link}}/m{{link}}{{else}}javascript:void(0){{/if}}">
                            <div class="pic"><img class="lazyload" src="/static/mobile/images/blank.gif" data-src="{{img}}" /></div>
                            <div class="info">
                                <div class="goodsname">{{name}}</div>
                                <div class="goodsprice">
                                    <span class="price-real"><span class="txt-rmb">¥</span><em>{{priceReal}}</em></span>
                                    <!--<span class="price-origin"><span class="txt-rmb">¥</span><em>{{priceOrigin}}</em></span>-->
                                </div>
                                <!--<div class="sale-count">已销售 {{saleCount}} 笔</div>-->
                            </div>
                        </a>
                    </li>
                    {{/each}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>